# ======================================================================================================================
# build/         디렉터리의 모든파일
# doc/notes.txt  특정파일
# doc/*.txt      특정디렉토리의 txt 파일 하위 폴더 미포함
# doc/**/*.pdf   하위디렉터리의 모든 pdf 파일
# ======================================================================================================================
**/build/
**/bin/
**/target/
**/share/
**/classes/
**/WEB-INF/lib/*.jar
**/libs/
# log
**/log/
**/logs/
*.log
*.log.*
# temp or null
*.tmp
temp.*
temp/
**/nul
**/null
# dev
.smarttomcat/
.m2/
.idea/
.vscode/
.c9/
.metadata/
.obsidian/
.gradle/
gradle/
.ipynb_checkpoints/
*.iml
# eclipse
.settings/
.project
.classpath
.factorypath
# Package Files
*.class
*.war
*.ear
*.db
# Windows image file caches # Folder config file
Thumbs.db
Desktop.ini
# ======================================================================================================================
# project directory 명시해서 필요없는 추가 동작이 일어나지 않게함
# ======================================================================================================================
